/*==============================================
    index.html 탭과 관련된 CSS 를 정의한다.
=================================================*/
.tabs {
	position: relative;
	width: 100%;
	overflow: hidden;
	margin: 1em 0 2em;
}

/* Nav */
.tabs nav {
	text-align: center;
    height: 20%;
}

.tabs nav ul {
	padding: 0;
	margin: 0;
	display: inline-block;
}

.tabs nav ul li {
	border-bottom: none;
	margin: 0 0.25em;
    /*margin-bottom: -0.35em;*/
    margin-bottom: -5px;
	display: block;
	float: left;
	position: relative;
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    width: 9em;
}

.tabs  nav  ul li:nth-child(1) {
    background-image: url('../img/tab_01.png');
}

.tabs  nav  ul li:nth-child(2) {
    background-image: url('../img/tab_02.png');
}

.tabs  nav  ul li:nth-child(3) {
    background-image: url('../img/tab_03.png');
}

.tabs  nav  ul li:nth-child(4) {
    background-image: url('../img/tab_04.png');
}

.tabs  nav  ul li:nth-child(5) {
    background-image: url('../img/tab_05.png');
}

.tabs  nav  ul li:nth-child(6) {
    background-image: url('../img/tab_06.png');
}

.tabs nav li.tab-current {
	/*border-bottom: 6px brown solid;*/
	z-index: 100;
}

.tabs nav li.tab-current:before,
.tabs nav li.tab-current:after {
	content: '';
	position: absolute;
	height: 1px;
	right: 100%;
	bottom: 0;
	width: 1000px;
}

.tabs nav li.tab-current:after {
	right: auto;
	left: 100%;
	width: 4000px;
}

.tabs nav a {
	color: #becbd2;
	display: block;
	line-height: 2.5;
	white-space: nowrap;
}

.tabs nav a:hover {
	color: #768e9d;
}

.tabs nav a:before {
	display: inline-block;
	vertical-align: middle;
	text-transform: none;
	font-weight: normal;
	font-variant: normal;
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
	margin: -0.25em 0.4em 0 0;
}


/*==============================================
    탭의 내용을 부분
=================================================*/

.content {
    padding: 0em 1em 1em 1em;
}

.content section {
    /*min-height: 400px;*/
	display: none;
	/*max-width: 1230px;*/
	margin: 0 auto;
    background-color: #FFFFDD;
    height: 100%;
}

.content section:before,
.content section:after {
	content: '';
	display: table;
}

.content section:after {
	clear: both;
}

.no-js .content section {
    display: table;
}

.content section.content-current {
	display: block;
    border: 9px #FFA41D solid;
    border-radius: 1em;
    margin: -0.2em;
    padding: 1em;
}

/*==============================================
    Div 태그의 1행 3열로 만들기 위해 아래의 css 를 사용
=================================================*/
.content > section > div {
    padding: 0.5em;
    vertical-align: top;
}

.content > section > div > div >img {
    width: 12%;
    float: left;
    margin: 1em;
    margin-top: 1em;
}


/*
    링크를 이미지로 교체함에 따라 주석 처리
*/
/*.content  section div > div:nth-child(1) {
    display: table-cell;
    width: 10em;
    vertical-align: middle;
}

.content  section div > div:nth-child(2) {
    display: table-cell;
    width: 30em;
    padding-left: 0.1em;
    vertical-align: middle;
    font-size: 1.6em;
    font-weight: bold;
    font-family: 'consolas';
    -webkit-font-smoothing: antialiased;
}
.content section div > div:nth-child(3) {
    display: table-cell;
    width: 30em;
    vertical-align: middle;
}*/

/*
    Section 컬럼의 마지막에 있는 Image 테그에는 마우스 포인터를 변경한다.
*/
.content section div > div:last-child img {
    cursor: pointer;
}

#btnHelp {
    border: none;
    margin-top: -10px;
}

/*.layer {display:none; position:fixed; _position:absolute; top:0; left:0; width:100%; height:100%; z-index:100;}*/
/*.layer .bg {position:absolute; top:0; left:0; width:100%; height:100%; background:#000; opacity:.5; filter:alpha(opacity=50);}*/
/*.layer .pop-layer {display:block;}*/

/*.pop-layer {display:none; position: absolute; top: 50%; left: 50%; width: 410px; height:auto;  background-color:#fff; border: 5px solid #3571B5; z-index: 10;}*/
/*.pop-layer .pop-container {padding: 20px 25px;}*/
/*.pop-layer p.ctxt {color: #666; line-height: 25px;}*/
/*.pop-layer .btn-r {width: 100%; margin:10px 0 20px; padding-top: 10px; border-top: 1px solid #DDD; text-align:right;}*/

/*a.cbtn {display:inline-block; height:25px; padding:0 14px 0; border:1px solid #304a8a; background-color:#3f5a9d; font-size:13px; color:#fff; line-height:25px;}*/
/*a.cbtn:hover {border: 1px solid #091940; background-color:#1f326a; color:#fff;}*/


.layer {display:none; position:fixed; _position:absolute; top:0; left:0; width:100%; height:100%; z-index:1000;}
.layer .bg {position:absolute; top:0; left:0; width:100%; height:100%; background:#000; opacity:.5; filter:alpha(opacity=50);}
.layer .pop-layer {display:block;}

.pop-layer {display:none; position: absolute; top: 50%; left: 50%; width: 820px; height:auto;  background-color:transparent; border: none; z-index: 1000;}
/*.pop-layer .pop-container {padding: 20px 25px;}*/
.pop-layer p.ctxt {color: #666; line-height: 25px;}
.pop-layer .btn-r {width: 100%; text-align:right;}

a.cbtn {display:inline-block; border:none; background-color:transparent; }
a.cbtn:hover {cursor: pointer;}

#dialogImage {
    padding: 0;
    width: 100%;
    cursor: default;
    border: none;
}
#dialogBtnTopback {
    padding: 0;
    width: 120px;
    border: none;

}
#dialogBtnNext {
    padding: 0;
    width: 120px;
    border: none;

}

#dialogBtnClose {
    padding: 0;
    width: 120px;
    border: none;

}